.card-container-experience {
  display: inline-block;
  text-decoration: none;
}
.experience-container {
  padding: 5px 0 25px 0;
  position: absolute;
  background-color: var(--primary-light-gray);
  width: 70%;
  top: 25%;

  display: grid;
  grid-template-columns: auto auto;

  justify-content: space-between;
}
.card-experience {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 140px;
  background-color: #fff;
  margin-bottom: 20px;
}
.card-experience:hover {
  cursor: pointer;
}
.card-experience:active {
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
}
.logo-experience {
  height: 100%;
}
.logo-experience img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}
.text-experience {
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: var(--primary-dark-gray);
  font-family: "Roboto", sans-serif;
  justify-content: center;
}
.experience-title {
  font-weight: 500;
}
.experience-date {
  font-size: 14px;
  font-weight: 300;
}

/* @media (max-width: 992px) {
    .experience-container {
        white-space:nowrap;
        overflow-x:scroll;
        align-items: center;
        top: 35%;
    }   
    .card-experience{
        display:inline-block;
    }

    .logo-experience{
        display:none;
    }
    
    .text-experience{
        padding: 5px;
    }
} */
