@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --primary-green: #1fde82;
    --primary-light-gray: #f7faff;
    --primary-dark-gray: #39424e;
    --black-github: #0d1117;
    --green-hackerrank: #1ba94c;
    --green-whatsapp: #009688;
    --blue-twitter: #1da1f2;
    --blue-linkedin: #0a66c2;
}

body {
    margin: 0;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

.container {
    background-color: var(--primary-light-gray);
}

.section-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.flow-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.square-container {
    width: 280px;
    height: 280px;
    padding: 20px 20px 0 20px;
}

.flow-circle {
    font-size: 100px;
}

.flow-square {
    border: 10px solid var(--black-github);
    border-radius: 5%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}

.arrow-down-container {
    font-size: 80px;
}

.v-line {
    border-right: 10px solid;
    height: 100%;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 100%;
    top: 50%;
    background-color: var(--primary-light-gray);
    padding: 0 20px;
}

.profile-title {
    font-size: 2rem;
    color: var(--primary-green);
    text-align: center;
}

.profile-text {
    font-size: 14px;
    font-weight: 300;
    color: var(--primary-dark-gray);
    text-align: center;
}

.icons-container {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    color: var(--primary-dark-gray);
}

.icons-container a {
    color: var(--primary-dark-gray);
    margin-bottom: 5px;
}

.icon {
    transition: all .5s;
    cursor: pointer;
    font-size: 2.5rem;
}

.icon:hover {
    font-size: 2.7rem;
}

.v-line-experience{
    z-index: 0;
}









/* flow container css */

.profile-container {
    height: 100vh;
}

.flow-contaier {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
}

.text {
    position: absolute;
    width: 50%;
    top: 50%;
    z-index: 1;
    background-color: var(--primary-light-gray);
}

.icon-arrow {
    font-size: 80px;
}

.fa-arrow-circle-down {
    color: var(--green-hackerrank);
    transition: all .5s;
}

.fa-arrow-circle-down:hover {
    filter: brightness(120%);
}

.fa-linkedin:hover {
    color: var(--blue-linkedin);
}

.fa-github-square:hover {
    color: var(--black-github);
}

.fa-hackerrank:hover {
    color: var(--green-hackerrank)
}

.fa-twitter-square:hover {
    color: var(--blue-twitter);
}

.fa-whatsapp:hover{
    color: var(--green-whatsapp);
}

.list-icons{
    list-style: none;
}

/*Medium mobile screens*/

.fade-in {
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
}

.fade-out {
    animation: fadeOut ease 1s;
    -webkit-animation: fadeOut ease 1s;
    -moz-animation: fadeOut ease 1s;
    -o-animation: fadeOut ease 1s;
    -ms-animation: fadeOut ease 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*Medium mobile screens*/

@media (max-width: 768px) {
    .circle-container {
        width: 120px;
        height: 150px;
    }
    .square-container {
        width: 120px;
        height: 120px;
        padding: 0;
    }
    .flow-circle {
        font-size: 100px;
    }
    .flow-square {
        border: 5px solid var(--black-github);
    }
    .arrow-down-container {
        font-size: 40px;
    }
    .v-line {
        border-right: 5px solid;
    }
    .icons-container a {
        padding-right: 5px;
    }
    .text-container {
        top: 30%;
    }
}