:root {
    --primary-green: #1fde82;
    --primary-light-gray: #f7faff;
    --primary-dark-gray: #39424e;
    --black-github: #0d1117;
    --green-hackerrank: #1ba94c;
    --blue-twitter: #1da1f2;
    --blue-linkedin: #0a66c2;
}

body {
    margin: 0;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

.container {
    background-color: var(--primary-light-gray);
}


/* flow container css */

.profile-container {
    height: 100vh;
}

.flow-contaier {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
}

.circle {
    font-size: 130px;
}

.vertical-line {
    border-right: solid 10px var(--black-github);
    height: 100%;
}

.text {
    position: absolute;
    width: 50%;
    top: 50%;
    z-index: 1;
    background-color: var(--primary-light-gray);
}

.icon-arrow {
    font-size: 80px;
}

.fade-in {
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
}

.fade-out {
    animation: fadeOut ease 1s;
    -webkit-animation: fadeOut ease 1s;
    -moz-animation: fadeOut ease 1s;
    -o-animation: fadeOut ease 1s;
    -ms-animation: fadeOut ease 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}